#signup-wrap{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        border: 1px solid;
        width: 15%;
        margin-left: 40%;
        padding: 2%;
        background-color:rgb(90, 147, 238);
        border-radius: 10px;
}

#sign-btn{
    width: 170px;
        height: 30px;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: 112ms;
}
#sign-btn:hover{
    transform: scale(1.1);
    color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-color: white;
}

h2 {
    margin: 0;
    color: white;
}

.Sign_error{
font-size:10px;
color: rgb(255, 255, 255);
}

.margin_bott{
    margin-bottom: 4%;
}
