#signup-wrap{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        border: 1px solid;
        width: 15%;
        margin-left: 40%;
        padding: 2%;
        background-color: cadetblue;
        border-radius: 10px;
}
#email {
    margin-bottom: 15%;
}

#password {
    margin-bottom: 15%;
}
#c_password {
    margin-bottom: 15%;
}
#sign-btn{
    width: 170px;
        height: 30px;
        color: white;
        background-color: black;
        cursor: pointer;
}

h2 {
    margin: 0;
}