#homepage-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

}


#blog-wrap{
    display: flex;
    flex-direction: column;
margin-bottom: 2%;
    border: 1px solid;
    width: 60%;
   padding-left: 15%;
   background-color: rgba(109, 158, 255, 0.486);
   border-color:rgba(109, 158, 255, 0.486) ;
   border-radius: 10px;
   position: relative;
}
#title{
    font-size: xx-large;
    margin-top: 0;
}
#desc{
    word-break: break-all;
    word-wrap: normal;
}
#blog_img{
    width: 18%;
    position: absolute;
    left: 1%;
    top: 10%;
}