#login-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border: 1px solid;
    width: 15%;
    margin-left: 40%;
    padding: 2%;
    background-color:cadetblue ;
    border-radius: 10px;
}
#lemail{
    margin-bottom: 15%;
}
#lpassword{
    margin-bottom: 15%;
}
#log-btn{
    width: 170px;
    height: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 112ms;
}
#log-btn:hover{
    transform: scale(1.1);
    color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-color: white;
}
h2{
    margin: 0;
}
#signlink{
    text-decoration: none;
    color: white;
}

